Source: sshbouncer
Section: utils
Priority: optional
Maintainer: Matthew Hill <matt@openkilt.com>
Build-Depends: dh-systemd, python3
Standards-Version: 4.5.1
Homepage: https://github.com/sshbouncer/sshbouncer
Vcs-Browser: https://github.com/sshbouncer/sshbouncer
Vcs-Git: https://github.com/sshbouncer/sshbouncer

Package: sshbouncer
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Monitors OpenSSH server and triggers events based on SSH behavior
 Package includes SSHBouncer daemon, CLI client, and runtime library
