[Unit]
Description=SSHBouncer Agent Service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/sshbouncerd --logfile /var/log/sshbouncer/sshbouncerd.log

[Install]
WantedBy=multi-user.target
