blinker==1.7.0
dataclasses-json==0.6.4
datadog==0.49.1
orjson==3.9.15
prettytable==3.10.0
PyYAML==6.0.1
pyzmq==25.1.2
requests==2.31.0
syslog-py==0.2.5
timeago==1.0.16
pyinstaller==6.18.0 # For installer
findimports==2.3.0 # For installer
Flask==3.0.2
Flask-SocketIO==5.3.6
simple-websocket==1.0.0
